html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  background-color: #1b5e20; /* Optional: Add a background color */
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-top: 1px solid #ddd; /* Optional: Add a top border */
}