.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #1b5e20;;
  color: white;
  font-size: 16px;
  line-height: 1.6;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Desktop menu */
.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

/* Mobile button hidden in desktop */
.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

/* Mobile view */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111827;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    display: none;
  }

  .nav.open {
    display: flex;
  }
  .logout-btn {
    background: #ef4444;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .logout-btn:hover {
    background: #dc2626;
  }
}