/* General styles for the login page */
.auth-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background-color: #02750a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #025f08;
}

/* Forgot Password link */
.forgot-link {
  text-align: right;
  margin: 10px 0;
}

.forgot-link a {
  font-size: 14px; /* Adjust font size */
  color: #02750a;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}

/* Register link */
.auth-link {
  text-align: center;
  margin-top: 20px;
}

.auth-link a {
  font-size: 14px; /* Adjust font size */
  color: #02750a;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}

/* Responsive styles for mobile view */
@media (max-width: 768px) {
  .auth-input {
    font-size: 14px; /* Adjust input font size for smaller screens */
  }

  .auth-btn {
    font-size: 14px; /* Adjust button font size for smaller screens */
  }

  .forgot-link a,
  .auth-link a {
    font-size: 12px; /* Smaller font size for links on mobile */
  }
}